.theme-container {
  --theme-background: #ffffff;
  --theme-text-color: #545e71;
  --theme-title-color: #545e71;
  --theme-text-background-normal: #f7f8fa;
  --theme-text-background-hover: #f2f5fa;
  --theme-text-background-select: #e7eafa;
}

.main {
  width: 100%;
  overflow-y: auto;
  background: var(--theme-background);
}

.background-color {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  background-color: var(--theme-text-background-normal);
  border-radius: 4px;
}

.background-color:hover {
  background-color: var(--theme-text-background-hover);
}

.background-color-active {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: var(--theme-text-background-select);
}

.text-container {
  width: 100%;
}

.content-container {
  margin-bottom: 12px;
}

.content-container:last-child {
  margin-bottom: 0;
}

.content-title {
  font-family: PingFangSC-Semibold;
  font-size: 14px;
  color: var(--theme-title-color);
  line-height: 22px;
  font-weight: 600;
}

.content-text {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: var(--theme-text-color);
  line-height: 22px;
  font-weight: 400;
  white-space: pre-wrap;
}
