.theme-container {
  --theme-border: #ebeef6;
  --theme-border-select: #636fff;
  --theme-header-background: #f2f5fa;
  --theme-header-text: #545e71;
  --theme-normal-background: #fbfcff;
  --theme-normal-text: #2a354e;
  --theme-header-hover: #ebeef6;
  --theme-normal-hover: #f2f5fa;
  --theme-header-select: #e7eafa;
  --theme-icon-container: linear-gradient(90deg, rgba(247, 248, 250, 0) 0%, #f2f5fa 20%);
  --theme-icon-container-hover: linear-gradient(90deg, rgba(237, 238, 240, 0) 0%, #ebeef6 20%);
  --theme-icon-container-selected: linear-gradient(90deg, rgba(232, 233, 251, 0) 0%, #e7eafa 20%);
  --theme-sort-icon-container-hover: #d8dde5;
  --theme-icon-up: url(./img/升序.svg);
  --theme-icon-up-enable: url(./img/升序enable.svg);
  --theme-icon-down: url(./img/降序.svg);
  --theme-icon-down-enable: url(./img/降序enable.svg);
  --theme-tree-icon-hover: #d8dde5;
  --theme-expand-icon-background: linear-gradient(90deg, rgba(251, 252, 255, 0) 0%, #fbfcff 20%);
  --theme-expand-icon-text: #a9b2be;
  --theme-expand-icon-down: url(./img/按钮降序.svg);
}

.main-container {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  white-space: pre-wrap;
}

.outContainer {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

.rows-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
}

.main-cell {
  border-right: 1px solid var(--theme-border);
  border-bottom: 1px solid var(--theme-border);
  padding: 4px 12px;
  align-items: center;
  display: flex;
  position: relative;
  min-width: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.number-cell {
  justify-content: flex-end;
  text-align: end;
}

.select-border::after {
  content: '';
  border: 1px solid var(--theme-border-select);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

.header-cell {
  background: var(--theme-header-background);
  color: var(--theme-header-text);
}

.normal-cell {
  background: var(--theme-normal-background);
  font-size: 14px;
  color: var(--theme-normal-text);
  line-height: 22px;
  width: 100%;
  word-wrap: break-word;
}

.header-cell-hover {
  background: var(--theme-header-hover);
}

.normal-cell-hover {
  background: var(--theme-normal-hover);
}

.header-cell-select {
  background: var(--theme-header-select);
}

.header-border-bottom-select {
  border-bottom: 1px solid var(--theme-border-select);
}

.header-border-right-select {
  border-right: 1px solid var(--theme-border-select);
}

.cell-text {
  max-height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;

  a {
    color: var(--theme-border-select);
  }
}

.column-header {
  border-top: 1px solid var(--theme-border);
}

.tooltip {
  display: none;
  position: fixed;
  background: var(--theme-border-select);
  border-radius: 2px;
  text-align: justify;
  padding: 5px 12px;
  font-family: 'PingFangSC-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--theme-normal-background);
  max-width: 480px;
  width: max-content;
  min-width: 100px;
  transform: translate(-50%, -100%);
  z-index: 999;
  white-space: pre-wrap;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* 位于tooltip底部 */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: var(--theme-border-select) transparent transparent transparent; /* 三角形颜色 */
}

.horizontal-table > :nth-child(2n + 1) {
  border-top: 0px;
}

.horizontal-table > :last-child {
  border-right: 0px;
}

.horizontal-table-first > * {
  border-top: 1px solid var(--theme-border);
}

.horizontal-table-first > :last-child {
  border-right: 0px;
}

.horizontal-table-special > :last-child {
  width: 100%;
}

.fit-content {
  width: fit-content;
}

.border-left > :last-child {
  border-right: 0px;
}

.vertical-table {
  position: sticky;
  z-index: 2;
  top: 0px;
}

.multi-table {
  position: sticky;
  z-index: 2;
  top: 0px;
}

.multi-table > :first-child {
  position: sticky;
  left: 0px;
  z-index: 3;
}

.multi-table > :last-child {
  border-right: 0px;
}

.multi-table-first > :first-child {
  position: sticky;
  left: 0px;
  z-index: 1;
}

.multi-table-first > :last-child {
  border-right: 0px;
}

.selected-box {
  content: '';
  display: none;
  position: absolute;
  background: transparent;
  border: 1px solid var(--theme-border-select);
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
  box-sizing: border-box;
}

.icon-container {
  width: fit-content;
  height: 100%;
  position: absolute;
  display: flex;
  padding: 0px 4px 0px 12px;
  align-items: center;
  justify-content: center;
  right: 0px;
  background-image: var(--theme-icon-container);
}

.icon-container-hover {
  width: fit-content;
  height: 100%;
  position: absolute;
  display: flex;
  padding: 0px 4px 0px 12px;
  align-items: center;
  justify-content: center;
  right: 0px;
  background-image: var(--theme-icon-container-hover);
}

.show-icon {
  visibility: visible;
}

.hide-icon {
  visibility: hidden;
}

.icon-container-selected {
  width: fit-content;
  height: 100%;
  position: absolute;
  display: flex;
  padding: 0px 4px 0px 12px;
  align-items: center;
  justify-content: center;
  right: 0px;
  background-image: var(--theme-icon-container-selected);
}

.sort-icon-container {
  width: 16px;
  height: 16px;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sort-icon-container:hover {
  background-color: var(--theme-sort-icon-container-hover);
}

.up-sort {
  width: 12px;
  height: 6px;
  background-image: var(--theme-icon-up);
  background-repeat: no-repeat;
}

.down-sort {
  width: 12px;
  height: 6px;
  background-image: var(--theme-icon-down);
  background-repeat: no-repeat;
}

.up-sort-enable {
  width: 12px;
  height: 6px;
  background-image: var(--theme-icon-up-enable);
  background-repeat: no-repeat;
}

.down-sort-enable {
  width: 12px;
  height: 6px;
  background-image: var(--theme-icon-down-enable);
  background-repeat: no-repeat;
}

.tree-container {
  display: flex;

  .tree-icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .tree-icon {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      margin-right: 2px;
      background-image: var(--theme-icon-up);
      background-repeat: no-repeat;
      transform: rotate(180deg);
      background-position: center;
    }

    .tree-icon:hover {
      background-color: var(--theme-tree-icon-hover);
    }

    .tree-icon.tree-icon-selected {
      transform: rotate(90deg);
    }
  }
}

.expand-icon-container {
  position: absolute;
  right: 12px;
  bottom: 4px;
  width: 100px;
  display: flex;
  font-size: 14px;
  color: var(--theme-expand-icon-text);
  line-height: 22px;
  font-weight: 400;
  align-items: center;
  justify-content: flex-end;
  background-image: var(--theme-expand-icon-background);

  .expand-icon {
    margin-left: 2px;
    width: 16px;
    height: 16px;
    background-image: var(--theme-expand-icon-down);
    background-repeat: no-repeat;
    background-position: center;
  }

  .expand-icon-close {
    background-image: var(--theme-expand-icon-down);
    transform: rotate(180deg);
  }
}

.expand-icon-container:hover {
  color: var(--theme-border-select);

  .expand-icon {
    background-image: var(--theme-icon-down-enable);
  }

  .expand-icon-close {
    background-image: var(--theme-icon-down-enable);
  }
}

.header-cell-hover .expand-icon-container {
  background-image: var(--theme-icon-container-hover);
}

.normal-cell-hover .expand-icon-container {
  background-image: var(--theme-icon-container);
}

.expand-icon-container-close {
  width: 100px;
  display: flex;
  font-size: 14px;
  color: var(--theme-expand-icon-text);
  line-height: 22px;
  font-weight: 400;
  align-items: center;
  justify-content: flex-end;
  background-image: var(--theme-expand-icon-background);

  .expand-icon {
    margin-left: 2px;
    width: 16px;
    height: 16px;
    background-image: var(--theme-expand-icon-down);
    background-repeat: no-repeat;
    background-position: center;
  }

  .expand-icon-close {
    background-image: var(--theme-expand-icon-down);
    transform: rotate(180deg);
  }
}

.expand-icon-container-close:hover {
  color: var(--theme-border-select);

  .expand-icon {
    background-image: var(--theme-icon-down-enable);
  }

  .expand-icon-close {
    background-image: var(--theme-icon-down-enable);
  }
}

.header-cell-hover .expand-icon-container-close {
  background-image: var(--theme-icon-container-hover);
}

.normal-cell-hover .expand-icon-container-close {
  background-image: var(--theme-icon-container);
}

.flex-end {
  flex-direction: column;
  align-items: flex-end;
}

.flex-end > :first-child {
  align-self: flex-start; /* 将第一个子元素对齐到左侧 */
  display: flex;
}
